#profileImage{
    background-color: #4e4e6de3;
    height: 30vh;
    color: white;
}
h2{
    text-align: center;
    padding-top: 9vh;
}
.did{
    position: relative;
    bottom: 7vh;
    z-index: 9999999;
}
#stories {
    width: 85%;
}