.Main_Image{
    background-image: url(../../images/ecooo.PNG);
    height: 90vh;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.heading{
    color: white;
}
.desc{
    color: white;
    position: relative;
    top: 15vh;
    width: 75%;
    left: 14vw;
}
h1{
    position: relative;
    top: 12vh;
    left: 36vw;
    font-size: 75px;
}