<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">mahi1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/econeo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         <mapping class="com.eco.neo.pojo.User"/>
          <mapping class="com.eco.neo.pojo.Stories"/>
          <mapping class="com.eco.neo.pojo.Comment"/>
           <mapping class="com.eco.neo.pojo.Likes"/>
            <mapping class="com.eco.neo.pojo.Enterprise"/>
             <mapping class="com.eco.neo.pojo.Ticket"/>
               <mapping class="com.eco.neo.pojo.AuditRecord"/>
               
    </session-factory>
</hibernate-configuration>
